body {
    font-family: Arial, sans-serif;
    background-image: url(Bild/brain.jpg);
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #0ef5c7;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #e7f1ff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.product-name {
    font-weight: bold;
    color: #007BFF;
}
.product-description {
    color: #555;
}